html, body {
	min-height: 100%;
}
* {
	box-sizing: border-box;
}
.central-container {
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	max-width: 971px;
	margin: auto;
	min-height: 100vh;
}

.links-container a {
	
}
.footer {
	margin-top: 100px;
}
.angular-google-map-container {
	height: 400px;
}
.map-container-filler {
}
.center {
	text-align: center;
}
.right-align {
	text-align: right;
}
.result {
	border: 1px solid #D1D1D1;
	padding: 10px;
	margin-bottom: 20px;
	cursor: pointer;
}
.result.selected {
	background-color: #EEE;
}
.bold {
	font-weight: bold;
}
.translate-icons {

}
@media only screen and (min-width: 992px)  {
	.map-container {
		max-width: 484px;
	}
	.map-container.follow {
		position: fixed;
		left: 50%;
		top: 10px;
		/*height: 100vh;*/
	}
}

.download-android {
	float: left;
}
@media only screen and (max-width: 992px)  {
	.download-android {
		float: none;
		margin-top: 30px;
		width: 100%;
	}
}